
.content {
    background-color:#52d2d2;
    flex-grow: 1;
    display: flex;

    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.main-header{
    background-color: #007bff;
    color:#fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px #0000001a;
}
#paragraph {
    background-color:white;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
#a{
    background-color: #007bff;
    color: #fff;

}
#h{
    justify-content: flex-end;
    display:flex;
    flex-direction: row;
}
.paragraph {
    background-color:blue;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.w{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin-left: 700px;
    color:#007bff;
}
.apply-btn{
    background-color: #28a745;
    color:rgb(251,249, 249);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
nav{
    align-items: left;
    gap:25px;
    flex: auto;
}